@model  KGERP.Service.ServiceModel.FTP_Models.FileViewModel
@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset class="border p-2" style="background-color: #cde0f5">
    <legend class="w-auto field_legend">নতুন ফাইল সংযুক্ত তৈরি করুন</legend>
    @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formReset" }))
    {
        <div class="form-group row ">
            <label for="" class="col-form-label col-sm-2 mt-1">ফাইলের শিরোনাম</label>
            <div class="col-sm-10">

                @Html.EditorFor(model => model.fileTitle)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row ">
                    <label for="" class="col-form-label col-sm-4 mt-1"></label>
                    <div class="col-sm-6">
                        <input name="file" type="file"  accept="*" multiple/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary" id="btnFArchive1">সংরক্ষণ করুন </button>
                <button type="reset" class="btn btn-danger d-none" id="btnCancel1">ক্যান্সেল </button>
            </div>

        </div>
    }
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
}













