@{
    ViewBag.Title = "Shareholder Search";
}
<div class="row">
    <span style="font-size:20px;font-weight:bold">Shareholder List</span>
</div>
<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table id="shareHolderSearch" class="table table-striped" style="width:100%">
        <thead>
            <tr style="background-color:#4CAF50;color:#FFFFFF">
                <th>Company</th>
                <th>Name</th>
                <th nowrap>Birth Date</th>
                <th>National ID</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Spouse</th>
                <th>Present Address</th>
                <th nowrap>Start Date</th>
            </tr>
        </thead>
    </table>
</div>

@*<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />



@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

  
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


    @*<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>*@


    <script>
        $(document).ready(function () {
            $("#shareHolderSearch").DataTable({
                "ajax": {
                    "url": "/ShareHolder/AllShareHolder",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CompanyName", "name": "CompanyName" },
                    { "data": "Name", "name": "Name" },
                    { "data": "StrDateOfBirth", "name": "StrDateOfBirth" },
                    { "data": "NID", "name": "NID" },
                    { 'data': 'Phone', "name": "Phone" },
                    { 'data': 'Email', "name": "Email" },
                    { 'data': 'Spouse', "name": "Spouse" },
                    { 'data': 'PresentAddress', "name": "PresentAddress" },
                    { 'data': 'StrStartDate', "name": "StrStartDate" }

                ],

                "serverSide": "true",
                "order": [0, "asc"],
                "processing": "true"
            });
        });

    </script>
}
