@using KGERP.Utility
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup style="color:red">
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>Please contact with Admin.</h3>
        @*<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Seed")</h6>*@
        <a href="@Url.Action("Index","Seed", new { companyId = CompanyInfo.CompanyId })">
            <h6> Go Back To Home Page</h6>
        </a>
    </hgroup>
</body>
</html>
