@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div style="background-color:white;color:forestgreen;padding:10px; text-align:justify">
    <center>
        <img src="~/Content/img/KG.jpg" />
    </center>
    <p>
        KG started its journey in the year 2001 with a firm commitment of providing excellent customer services with a difference. KG remains fully committed to give dividend in a higher percentage to the shareholders. The high profitability track record attracts the shareholders to invest in the Krishibid Group. In doing business KG always abides by the fundamental principles of Corporate Governance.

        Krishibid Group understands people’s needs and desires to create and deliver appreciate services to the community to improve life standard of the common people. All the time we give emphasis on fulfilling our vision. The shareholders of KG family are highly passionate individuals, fully committed to achieve the vision that we have targeted.

        Krishibid Group work as a socially responsible corporate entity. It has focused in the areas of health care, education and contribution to charity. With this aim in view, KG has already started activities in the field of charity in the name of Krishi Foundation.

        The sister concerns of Krishibid Group have already proved to our valued share-holders that we are in the right tract of investment. KG remains fully committed to the delivery of higher dividend rate. The high profitability track record underpins that the shareholders derive attractive benefits through investment their hard earned money in KG. With the aim in view the Board of Directors has decided to increase the number of shareholders up to 1,000.

        Initially, KG has launched its business venture with Agro-based industries and gradually the number of the companies has increased. Hopefully, it will reach about 30 at the end of 20 Twenty.KG follows the fundamentals principles of Corporate Governance, Accountability, Responsibility and Transparency. KG understands people’s need and will render its services to improve the life style of the beneficiaries. As KG is committed to increase quality, so the quality of its products will be superior and unparallel.
    </p>
</div>