@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm("SendMail","Home",FormMethod.Get))
{
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Mail" class="btn btn-success" />
                </div>
            </div>
  

}


<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<address>
    One Krishibid Way<br />
    801, Rokeya Sarani
    Kazipara, Dhaka-1216<br />
    <abbr title="Phone">P:</abbr>
    +88-02-9008789
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:info@krishibidgroup.com">info@krishibidgroup.com</a><br />
    <strong>Marketing:</strong>  <a href="mailto:info@krishibidgroup.com">info@krishibidgroup.com</a>
</address>