
@{
    ViewBag.Title = "DownloadUserManual";
}

<h2>Download User Manual</h2>

 
<div class="col-md-6">
    <a class="btn btn-success" href="@Url.Action("DownloadUserManualByPDF", "Home")" title="User Manual">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span>Download User Manual</span>
    </a>
</div>
 

