@using KGERP.Utility
@{
    ViewBag.Title = "Index";
}

<div style="color:forestgreen;padding:10px; text-align:justify">
    <div style="text-align: center;" >
        <div class="section-title">
            <h3 style="font-size: 40px;"><b style="color: black;">Welcome To</b> <b style="color: #007f3d;">@CompanyInfo.CompanyName</b> </h3>
            <p><span style="color:black; text-transform:uppercase; font-size:14px;">"The Farmer's Sorrow Will Be Ruined"</span></p>
        </div>
        <br/>
        <img style="width:180px; height:auto;" src=@CompanyInfo.CompanyLogoUrl />
    </div>
</div>








