/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top-align {
        margin-top: 25%;
        background-color: #f0f8ff;
        border-radius: 5px;
        height: 60%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-align {
        margin-top: 25%;
        background-color: #f0f8ff;
        border-radius: 5px;
        height: 60%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .top-align {
        margin-top: 10%;
        background-color: #f0f8ff;
        border-radius: 5px;
        height: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .top-align {
        margin-top: 10%;
        background-color: #f0f8ff;
        border-radius: 5px;
        height: 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .top-align {
        margin-top: 10%;
        background-color: #f0f8ff;
        border-radius: 5px;
        height: 60%;
    }
}
