@model KGERP.Utility.ReportInfo
@{
    ViewBag.Title = "ClientPaymentInformation";
}
<div style="font-family: Arial">   
<div class="row">
    <div class="col-md-11">
        <h4><b>Client Payment Information</b></h4>
        <hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
    </div>
    <iframe id="frmReport" src="@Model.ReportURL" width="900" height="900" frameborder="0" scrolling="yes">
    </iframe>
</div>
</div>