@model KGERP.Data.Models.RawAttendence
@{
    ViewBag.Title = "AttendanceProcessData";
}

<h2>AttendanceProcessData</h2>

<div class="col-md-6">
    <div class="form-group">
        <div class="col-md-offset-9">
            <input type="submit" value="Update Attendance" class="btn btn-info" />
        </div>
    </div>
</div>