@{
    ViewBag.Title = "Support";
    var message = TempData["successMessage"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 style="color:blue">Delete order by OrderNo</h2>
</div>
@using (Html.BeginForm("SupportDeleteOrder", "OrderMaster", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Order No", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.Editor("OrderNO", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-5">
            <input type="submit" value="Delete" onclick='return confirm("Are you sure to delete all information of this Order ?")' class="btn btn-danger" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        var message = '@message';
        if(message){
            alert(message);
        }
    </script>

}
