@{
    ViewBag.Title = "Index";
}

<head> 
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="col-sm-12" style="padding-top: 10px">
        <table class="ClientTable table-bordered table-hover table-responsive" id="ClientListTableMain">
            <thead>
                <tr style="background-color:#009270;color:#FFFFFF">
                    <td style="text-align: center">SL</td>
                    <td style="text-align: center">ClientId</td>
                    <td style="text-align: center">FullName</td>
                    <td style="text-align: center">Project</td>
                    <td style="text-align: center">PresentAddress</td>
                    <td style="text-align: center">Nationality</td>
                    <td style="text-align: center">MobileNo</td>
                    <td style="text-align: center">Status</td>
                    <td style="text-align: center">Action</td>
                </tr>
            </thead>
            <tbody id="ClientListTableBody"></tbody>
        </table>

    </div>
    <script src="~/Scripts/KGREScript/ClientList.js"></script>
</body>


