
@{
    ViewBag.Title = "Index";
}

<head>

</head>
<body>
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="panel panel-success" style="margin-top: 12px;">
                <div class="panel-heading">Fabrics Process Rate Setup</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                       
                        <div class="row">
                            <div style="padding: 10px;" id="message"></div>
                            <div class="col-sm-12">
                                <div class="col-sm-4" style="border: 1px solid black">
                                    <div class="col-sm-12">
                                        <label>Company Name</label>
                                        <div>
                                            <select name="Company" class="form-control input-sm  " id="Company">
                                                <option value="0">Select</option>
                                                <option value="1">Kaa</option>
                                                <option value="2">Jaa</option>
                                            </select>
                                         
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <label>Process Name</label>
                                        <div>
                                            <input type="hidden" class="form-control" id="FabricsProcId" disabled>
                                            <input type="text" name="FabricsProcName" class="form-control input-sm" id="FabricsProcName" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Process Rate</label>
                                        <div>
                                            <input type="text" name="Rate" class="form-control input-sm" id="Rate" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12" hidden>
                                        <label>Description</label>
                                        <div>
                                            <input type="text" name="Description" class="form-control input-sm" id="Description" value="0" />
                                        </div>
                                    </div>



                                    <div class="col-sm-2" style="margin-top: 5px">
                                        <br />
                                        <div>
                                            <button type="button" name="FabricsProcSubmit" class="btn btn-success btn-sm" id="FabricsProcSubmit">
                                                <span class="glyphicon glyphicon-saved"></span>Save
                                            </button>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-8">
                                    <div style="border: 1px solid black; padding: 5px">
                                        <table class="table-bordered table-hover table-responsive" id="FabricsProcTableMain">
                                            <thead>
                                                <tr>
                                                    <td style='text-align: center;'>SL</td>
                                                    <td style='text-align: center;'>Company Name</td>
                                                    <td style='text-align: center;'>Process Name</td>
                                                    <td style='text-align: center;'>Process Rate</td>
                                                    
                                                    <th style='text-align: center;'>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="FabricsProcTableBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/KGREScript/CostSetup.js"></script>
</body>
