@model KGERP.Service.ServiceModel.KttlCustomerModel

@{
    ViewBag.Title = "UploadClientBatch";
}



<div style="padding:20px">
    @using (Html.BeginForm("UploadClientBatch", "KTTLCRM", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2>Upload Client Batch</h2>

        @Html.AntiForgeryToken()
        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading"> 
                            @Html.LabelFor(model => model.FilePath)
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="file" name="ExcelFile" required />
                                    </div>
                                </div>

                                <div class="form-group" style="float: right;">
                                    <div style="float: right;">
                                        <button type="submit" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /input-group image-preview [TO HERE]-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                @if (ViewBag.ExcelIssues != null)
                {
                    <pre>@Html.Raw(HttpUtility.HtmlDecode(ViewBag.ExcelIssues))</pre>
                }
            </div>
        </div>
    }

    @if (ViewBag.status == true)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Lead Save Successfully");
            };
        </script>
    }


    @if (ViewBag.Process == true)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Process Successfull");
            };
        </script>
    }

</div> 