@using KGERP.Utility
@model KGERP.Data.CustomModel.DashBoardViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    .home-dashboard {
        padding: 10px;
        margin: 30px 0;
        text-align: justify;
    }

    .dashboad-heading {
        font-size: 42px;
        padding: 0;
        margin: 0;
    }

    .company-logo{
        width: 250px;
        padding: 0;
        margin: 0;
    }

    .company-name {
        color: #007f3d;
    }
</style>

<div class="home-dashboard">
    <center>
        <img src=@CompanyInfo.CompanyLogoUrl class="company-logo" />
        <div class="section-title">
            <h5 class="dashboad-heading">
                <b>Welcome To <span class="company-name">@CompanyInfo.CompanyName</span></b>
            </h5>
        </div>
    </center>
</div>