@using KGERP.Utility
@model KGERP.Data.CustomModel.DashBoardViewModel
@{
    ViewBag.Title = "Index";
}
<style>

    .small-box:hover {
        color: black !important;
    }
</style>
<div style="color:forestgreen;padding:10px; text-align:justify">
    <center>
        <img style="height:100px;" src=@CompanyInfo.CompanyLogoUrl />
        <div class="section-title">
            <h3 style="font-size: 40px;"><b style="color: black;">Welcome</b> <b style="color: black;">To</b> <b style="color: #007f3d;">@CompanyInfo.CompanyName</b></h3>
        </div>
        <br />
    </center>
</div>








