@model KGERP.Service.ServiceModel.CostCenterManagerMapModel
@{
    
}

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        Project / Cost Center
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>

        <li class="active">Project / Cost Center</li>
    </ol>
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#userMenuId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtMenuName').val($('#tdMenuName_' + rowId).text().trim());
                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#userMenuId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#userMenuFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
        }

    </script>
}