<table class="table table-condensed">
    <tr>
        <td>
            <a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report",
   new { ReportName = "Employee", ReportDescription = "Employee Information", Width = 100, Height = 650 })">1. Employee Report</a>
        </td>
        <td>
            <a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report",
   new { ReportName = "Department", ReportDescription = "Department Information", Width = 100, Height = 650 })">2. Department Report</a>

        </td>
    </tr>

    <tr>
        <td>
            <a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report",
   new { ReportName = "Designation", ReportDescription = "Designation Information", Width = 100, Height = 650 })">3. Designation Report</a>
        </td>
        <td></td>
    </tr>
</table>






