
@if (Model.HasMessage)
{
    if (Model.MessageList.Count > 0)
    {
        foreach (var m in Model.MessageList)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

               <div style="display:flex;">
                   @m <a href="@Model.ReturnUrl" class="btn btn-danger ml-2">Back</a>
               </div> 
            </div>
        }
        
    }
}
