@model KGERP.Data.CustomModel.TeamListVm
@{
    ViewBag.Title = "AllClientList";
    Layout = "~/Views/Shared/_LayoutCrm.cshtml";


}



@foreach (var item in Model.DataList)
{
   

    <div class="card mb-3 " style="max-width: 540px; ">
        <div class="row">
            <div class="col-md-4 pb-2">
                <h4 class="p-2">@item.TeamName</h4>
                <p class="p-2">@item.LeaderName</p>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <ul>
                        @foreach (var item1 in item.DataList)
                        {

                            <li>@item1.OfficerName</li>

                        }
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>

}
