
@{
    ViewBag.Title = "Index";
}

<head>
    @*<link href="../Content/media/css/jquery.dataTables.css" rel="stylesheet" />*@
    <style>
        .panel-primary > .panel-heading {
            color: #ffffff;
            background-color: #428bca;
            border-color: #428bca;
            text-align: center;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        tr, th {
            border: 1px solid #dddddd;
            text-align: left;
            margin-left: 8px;
        }

        .entryForm {
            padding: 5px;
        }

            .entryForm div.col-sm-1, .entryForm div.col-sm-2, .entryForm div.col-sm-3, .entryForm div.col-sm-4 {
                padding-left: 1px;
                padding-right: 1px;
                margin-top: 5px;
            }

        .entryForm1 {
            padding: 5px;
        }

            .entryForm1 div.col-sm-1, .entryForm1 div.col-sm-2, .entryForm1 div.col-sm-3, .entryForm1 div.col-sm-4 {
                padding-left: 1px;
                padding-right: 1px;
                margin-top: 5px;
            }

        .entryForm label {
            height: 10px;
            text-align: center;
        }

            .entryForm label.label-sm {
                height: 18px;
                margin-top: 18px;
                margin-bottom: 9px;
            }

        .entryForm .margin-top {
            margin-top: 36px;
        }

        .hasSymbol {
            padding-top: 6px;
        }

        input[type = "file"] {
            color: transparent;
        }
    </style>
    
    @*<link href="../Content/bootstrap.min.css" rel="stylesheet" />
        <link href="../Content/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="../Scripts/jquery-3.0.0.min.js"></script>
        <script src="../Scripts/MyScript/date-convert.js"></script>

        <script src="../Scripts/bootstrap-datepicker.min.js"></script>
        <link href="../Content/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="../Scripts/MyScript/numberConvert.js"></script>*@
    <script>
        $(document).ready(function () {

            $("#PayDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "yyyy-dd-mm"
                
            });

            //$("#date").datepicker("setDate", new Date());
            $("#PayDate").datepicker("setDate", new Date());


            $("#BirthDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });

            $("#BirthDate").datepicker("setDate", new Date());
            $("#BirthDate").change(function () {


            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="panel panel-success" style="margin-top: 12px;">
                <div class="panel-heading">Payment Info</div>
                <div class="panel-body">
                    <div>
                        <div class="entryForm">
                            <div class="col-sm-2">
                                <label>Project Name</label>
                                <input type="text" class="form-control  input-sm " id="ProjectName" readonly value="" />
                                <input type="text" class="form-control  input-sm hidden" id="ProjectId" readonly value="" />
                            </div>
                            <div class="col-sm-2">
                                <label>ClientAutoId</label>
                                <input type="text" class="form-control  input-sm" id="ClientAutoId" readonly value="" />
                            </div>
                            <div class="col-sm-2">
                                <label>Block No</label>
                                <input type="text" class="form-control  input-sm" id="BlockNo" readonly value="" />
                            </div>
                            <div class="col-sm-2">
                                <label>Plot No</label>
                                <input type="text" class="form-control  input-sm" id="PloatNo" readonly value="" />
                            </div>
                            <div class="col-sm-2">
                                <label>Plot Size</label>
                                <input type="text" class="form-control  input-sm" id="PloatSize" readonly value="" />
                            </div>
                            <div class="col-sm-2">
                                <label>Facing</label>
                                <input type="text" class="form-control  input-sm" id="Facing" readonly value="" />
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-sm-2">
                        <label>Last Pay Date</label>
                        <input type="text" class="form-control  input-sm" id="dates" readonly value="" />
                    </div>

                    <div class="col-sm-2">
                        <label>Last Pay Amount</label>
                        <input type="text" class="form-control  input-sm" id="LastPayAmount" readonly value="" />
                    </div>
                    <div class="col-sm-2">
                        <label>Total Pay Amount</label>
                        <input type="text" class="form-control  input-sm" id="TotalPayAmount" readonly value="" />
                    </div>
                    <div class="col-sm-2">
                        <label>DueAmount</label>
                        <input type="text" class="form-control  input-sm" id="DueAmount" readonly value="" />
                    </div>
                    <div class="col-sm-2">
                        <label>Pay Type</label>
                        <select id="PayType" class="form-control  input-sm">
                            <option value="0">Select One</option>
                            <option value="Cash">Cash</option>
                            <option value="Bank">Bank</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Bank Name</label>
                        <input type="text" class="form-control  input-sm" id="BankName" value="" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-2">
                        <label>Chaque No</label>
                        <input type="text" class="form-control  input-sm" id="ChaqueNo" value="" />
                    </div>
                    <div class="col-sm-2">
                        <label>Pay Amount</label>
                        <input type="text" class="form-control  input-sm" id="GrandTotal" value="" />
                    </div>
                    <div class="col-sm-2">
                        <label>Pay Date</label>
                        <input type="text" class="form-control  input-sm" id="PayDate" value="" />
                    </div>
                    <div class="col-sm-2">
                        <label>Installment Amount</label>
                        <input type="text" class="form-control  input-sm" id="InstallMentAmount" readonly value="" />

                    </div>
                    <div class="col-sm-2">
                        <label>No Of Installment</label>
                        <input type="text" class="form-control  input-sm" id="NoOfInstallment" readonly value="" />
                    </div>

                </div>

            </div>
        </div>
    </div>



    <div class="col-sm-12 col-md-offset-5">
        <button type="button" class="btn btn-success" id="SaveOrder" onclick="SaveInfo()">Save</button>
        <button type="button" class="btn btn-info" id="Delete" onclick="CleareAItem()">Cleare</button>
    </div>
    <div class="col-sm-12" style="padding-top: 10px">
        <table class="InstallmentTable1 table-bordered table-hover table-responsive" id="InstallmentListTableMain1">
            <thead>
                <tr>
                    <td style="text-align: center">SL</td>
                    <td style="text-align: center">Payment Amount</td>
                    <td style="text-align: center">InstallMent Amount</td>
                    <td style="text-align: center">Payment Date</td>
                    <td style="text-align: center">Due Amount</td>
                    <td style="text-align: center">Pay Due Amount</td>
                    <td style="text-align: center">No Of Installment</td>
                    <td style="text-align: center">Installment Date</td>
                    <td style="text-align: center">Status</td>
                    <td style="text-align: center">Action</td>
                </tr>
            </thead>
            <tbody id="InstallmentListTableBody1"></tbody>
        </table>
    </div>
     
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" /> 
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/KGREScript/date-convert.js"></script>

    <script src="~/Scripts/KGREScript/CommonForAll.js"></script>
    <script src="~/Scripts/KGREScript/PaymentInfo.js"></script>
    <script src="~/Scripts/KGREScript/InstallmentList.js"></script>
</body>