@{
    ViewBag.Title = "Employee Search";
}
<div class="row">
    <span style="font-size:20px;font-weight:bold">Current Employee List</span>
</div>
<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table id="employeeSearch" class="table table-striped" style="width:100%">
        <thead>
            <tr style="background-color:#4CAF50;color:#FFFFFF">
                <th>KG ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th nowrap>Join Date</th>
                <th>Office Email</th>
                <th>PABX</th>
                <th>MobileNo</th>
                <th>Blood Group</th>
                <th>Remarks</th>
            </tr>
        </thead>
    </table>
</div>

@*<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#employeeSearch").DataTable({
                "ajax": {
                    "url": "/Employee/EmployeeSearch",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "EmployeeId", "name": "EmployeeId" },
                    { "data": "Name", "name": "Name" },
                    { "data": "DepartmentName", "name": "DepartmentName" },
                    { "data": "DesignationName", "name": "DesignationName" },
                    { 'data': 'StrJoiningDate', "name": "StrJoiningDate" },
                    { 'data': 'OfficeEmail', "name": "OfficeEmail" },
                    { 'data': 'PABX', "name": "PABX" },
                    { 'data': 'MobileNo', "name": "MobileNo" },
                    { 'data': 'BloodGroupName', "name": "BloodGroupName" },
                    { 'data': 'Remarks', "name": "Remarks" }
                ],

                "serverSide": "true",
                "order": [0, "asc"],
                "processing": "true",
                "language": {
                    "processing": "processing... please wait"
                }



            });
        });

    </script>
}



























