@model KGERP.Utility.ReportInfo
@{
    ViewBag.Title = "EmployeeIDCard";
}

 
<div style="font-family: Arial">
    @using (Html.BeginForm("EmployeeIDCard", "Employee", FormMethod.Get))
    {
        <div class="col-md-12">
            <table style="width:1100px">
                <tr style="background-color: #E9EDBE; vertical-align: middle;">                     
                    <td width="20%" align="right" class="tdRightAlign">
                        <span style="padding:10px"><b>Type Employee ID</b></span>
                    </td>
                    <td colspan="3" style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control", @placeholder = "Search..." })
                    </td>
                    <td style="padding:10px">
                        <button type="submit" class="btn btn-success">
                            <span style="padding:10px"><b>Search</b></span> &nbsp;<i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h4><b>Employee ID Card</b></h4>
                <hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
            </div>
        </div>
    }

    <div class="row">
        <iframe id="frmReport" src="@Model.ReportURL" width="900" height="900" frameborder="0" scrolling="yes">
        </iframe>
    </div>
</div>
